<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RippleInk</title>
  <link rel="icon" type="image/png" href="/images/logo.png">
  <link href="/froalacss_table" rel="stylesheet" type="text/css" />
  <link href="/froalacss_colors" rel="stylesheet" type="text/css" />
  <link href="/froalacss" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/popup_window.css">
</head>
<body>
<div class="container-outer">
  <div class="container-inner">